/*
  Header & Main css
*/

*{
  font-family: 'Signika Negative', sans-serif;
  margin: 0;
  padding: 0;
}
.main-bg {
  height: 350px;
  /* background-image: url('./bg.png'); */
  background-size: cover;
  background-position: center;
}

.itemLists {
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 10%;
}

.searchWrap {
  border-radius: 5px;
  border: solid 1px #81dacd;
  text-decoration: none;
  height: 40px;
  box-sizing: border-box;
  margin: 10px 20px;
  width: 70%;
}


.searchWrap input {
  border: hidden;
  margin: 0px;
  padding: 7px; 
  width: 70%;
  font-size: 16px;
  font-weight: 500;
  margin: auto;
  background-color: transparent;
}

.searchWrap img {
  width: 20px;
  margin-left: 6px;

}

.headBtn1 {
  width: 110px;
  border-radius: 5px;
  border: solid 3px #81dacd;
  box-sizing: border-box;
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  padding: 7px;
  height: 40px;
  margin: auto;
  background-color: #ffffff;
  color: #666666;
}

.headBtn2 {
  width: 110px;
  border-radius: 5px;
  border: solid 3px #81dacd;
  box-sizing: border-box;
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  padding: 7px;
  height: 40px;
  margin: auto;
  background-color: #ffffff;
  color: #666666;
}

.headBtn1 img {
  height: 30px;
  padding-bottom: 5px;
}
.headBtn1:hover, .headBtn2:hover{
  opacity: 0.5;
}


/*
   Product_details css
*/

.detailContainer {
  flex-Flow: column;
  padding-Top: 5%;
  padding-left: 20%;
  padding-right: 20%;
  padding-bottom: 15%;
}

.row {
  /* background-color: #666666; */
  display: inline-block;
  width: 100%;
  border-radius: 12px;
  padding-bottom: 10px;
  padding-top: 10px;
}

.sellerInfo{
  display: flex; 
  text-align: left;
  padding-top:10px ;
}
.sellerInfo .div1{
  display:flex;
  width:50%;  
}
.sellerInfo .div2{
  justify-content: right;
  width: 50%;
  padding-left: 10%;
  display: flex;
  padding-top: 3%;
}
.sellerInfo .div2 div{
  padding-right: 10%;
}
.sellerInfo .div2 div a{
  cursor: pointer;
}

.detailAllproducts .cardsWrap{
  justify-content: flex-start;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
}
.detailAllproducts h1, .detailAllproducts nav{
   display: none;
}

.responsive-image {
  width: 100%;
  height: 400px;
  position: relative;
  margin: 0 auto;
}
/*
  slide images
*/
.slider-wrapper {
  padding: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider-items {
  position: relative;
}

.slider-item {
  position: relative;
  outline: none;
  border-radius: 15px;
  background: white;
  overflow: hidden;
}
/*
.slider-item-gradient {
  position: absolute;
  height: 100%;
  width: 100%;
  background: linear-gradient(to top, rgba(186, 186, 186, 0) 7.14%, rgba(0, 0, 0, 0.15) 85.49%);
}
*/
.slider-item img {
  width: 677px;
  height: 500px;
  position: relative;
  margin: 0 auto;
  border-radius: 12px;
}


.slider-item_b {
  position: relative;
  outline: none;
  border-radius: 15px;
  background: white;
  overflow: hidden;
  & .bg_hover {
    background-color: rgba(0, 0, 0, 0.48);
    position: absolute;
    top: 0;
    left: 0;
    transition: ease-in-out 0.2s;
    opacity: 0;
    border: 3px solid rgb(100, 100, 100);
  }
  & > div.bg_hover_text {
    opacity: 0;
    color: #fff;
    padding: 8px;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    transition: ease-in-out 0.2s;
  }
  &:hover .bg_hover,
  &:hover div.bg_hover_text {
    opacity: 1;
  }
  & > img {
    object-fit: cover;
    transition: ease-in-out 0.25s;
  }

  &:hover > img {
    transform: scale(1.15);
    opacity: 0.8;
  }
}
.bg_hover_text .subimg{
  width: 100px;
}
.bg_hover_text .subimg:hover{
  cursor: pointer;
}

.slider-item_b .mainimg {
  width: 250px;
  height: 250px;
  position: relative;
  margin: 0 auto;
  border-radius: 12px;
}
.slider-item_b .mainimg:hover {
  cursor: pointer;
}

.slick-dots {
  bottom: 550px;
}

.slick-dots li.slick-active button:before {
  color: white;
  font-size: 12px;
}

.slick-dots li button:before {
  color: white;
}
/****************************************/


.likeSpan {
  font-size: 13px;
  line-height: 1.46;
  letter-spacing: -0.6px;
  color: #868e96
}

.popularView {
  display: flex;
}

.popularView h2 {
  padding-right: 50px;
}

.popularView a {
  font-size: 15px;
  line-height: 2.3;
  letter-spacing: -0.6px;
  text-decoration: none;
  color: #81dacd;

}

.selectBox {
  width: 60%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 30px;
}

.selectBox select {
  width: 27%;
  margin-left: 8px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 12px 16px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border: solid 1px #e9ecef;
  box-sizing: border-box;
  font-size: 17px;
  letter-spacing: -0.6px;
  text-align: left;
  background: #fdfff5 url(https://d1unjqcospf8gs.cloudfront.net/assets/home/articles/icon-arrow-down-ea33c4b4c74ce0aca95580c70c5ba1f464ff5833213b0fc8db5de0fab98b57e1.svg) no-repeat 89% 50%;
}

/*
     AllProducts css
 */
.itemLists .cardsWrap .card {
  width: calc(23% - 16px);
  margin-right: 25px;
  margin-bottom: 56px;
  border: white;
}

.cardsWrap {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 auto;
  padding: 3%;
}
.cardsWrap_2{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 auto;
  padding: 3%;
}

.cardsWrap .card {
  width: calc(33% - 16px);
  margin-right: 16px;
  margin-bottom: 56px;
  border: white;

}

.cardLink {
  text-decoration: none;
  color: #212529;
}

.cardPhoto {
  width: 100%;
  padding-top: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 12px;
  background-color: #F8F9FA;
  box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.15);
  box-sizing: border-box;
}

.cardsWrap .cardPhoto img {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border-radius: 12px;
  border: 1px solid transparent;

}

.cardDesc {
  margin-top: 12px;

}

.cardTitle {
  font-size: 16px;
  letter-spacing: -0.02px;
  color: #212529;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-bottom: 4px;
  line-height: 1.5;
  font-weight: normal;
}

.cardPrice {
  font-size: 15px;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: 4px;
}

.cardRegion {
  font-size: 13px;
  color: #212529;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-bottom: 4px;
  line-height: 1.5;
}

/*
  UploadForm css
*/
.uploadRow{
  text-align: left;
  display: inline-block;
  width: 100%;
  border-radius: 12px;
  padding-bottom: 10px;
  padding-top: 10px;
}
.uploadRow span{
  margin: 10px 20px;
  font-size:x-large;
}
.uploadRow select{
  border-radius: 5px;
  border: solid 1px #81dacd;
  text-decoration: none;
  height: 40px;
  box-sizing: border-box;
  margin: 10px 20px;
  width: 100%;
}
.uploadRow input {
  border-radius: 5px;
  border: solid 1px #81dacd;
  text-decoration: none;
  height: 40px;
  box-sizing: border-box;
  margin: 10px 20px;
  width: 100%;
}
.uploadRow textarea{
  border-radius: 5px;
  border: solid 1px #81dacd;
  text-decoration: none;
  height: 300px;
  box-sizing: border-box;
  margin: 10px 20px;
  width: 100%;
}

.uploadRow .fileUploadDiv{
  margin: 10px 20px;
  display: flex;
}
.uploadRow .fileUploadDiv .uploadBox{
  width: 50%;
}
.uploadRow .fileUploadDiv .uploadBox:hover{
  background-color:grey;
  cursor: pointer;

}

.fileUploadDiv .previewBox{
  display: flex;
  width: 100%;
  height: 100%;
  overflow-x:scroll;
}
.fileUploadDiv .previewBox img{
  min-width: 300px;
  width:100%;
  height: 240px;
  padding-right: 10px;
  border-radius: 12px;
}
.fileUploadDiv .previewBox img:hover{
  opacity: 0.5;

}


.uploadBtn{
  width: 100%;
  margin: 10px 20px;
  border-radius: 5px;
  border: solid 3px #81dacd;
  box-sizing: border-box;
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  padding: 7px;
  height: 40px;
  background-color: #81dacd;
  color: #666666;
}

.uploadBtn:hover{
  cursor: pointer;
  background-color: #6bd3c3;
}




.sellerInfo1{
  width: 50%;
}
.sellerInfo2{
  margin-top: 5%;
  width: 50%;
}

.sellerInfo2 button {
  border-radius: 5px;
  /* border: solid 3px #81dacd;
  box-sizing: border-box;
  text-decoration: none;
  display: inline-block;
  vertical-align: middle; */
  text-align: center;
  padding: 7px;
  margin: auto;
  background-color: #ffffff;
  color: #666666
}
.sellerInfo2 button:hover {
  opacity: 0.5;
}

.myPageSellerInfo {
  width: 100%;
  display: flex;
    text-align: center;
    padding-top: 10px;
}

.menu {
  flex-flow: column;
  text-align: center;
}
.menu h5{
  font-size: x-large;
}

.menu div {
  border-bottom: 1px solid rgb(169, 168, 168);
  cursor: pointer;
  margin-right: 10px;
  width: 100%;
  height: 200px;
  padding-top: 30px;
}
.menu :hover{
  opacity: 0.5;
}

.menu img{
  position: relative;
  height: 120px;
}

.mypage_headmenu div{
  border-bottom: 1px solid rgb(169, 168, 168);
  margin-right: 10px;
  width: 100%;
  height: 200px;
  padding-top: 30px;
}
.mypage_headmenu img{
  position: relative;
  height: 120px;
}
.mypage_headmenu h5{
  font-size: x-large;
}

.mypage_headmenu{
  cursor: pointer;
  flex-flow: column;
  text-align: center;
}
.mypage_headmenu:hover{
  opacity: 0.5;
}

.profile_form{
  padding-right: 15%;
  padding-left: 15%;
  padding-top: 5%;
}
.profile_save_btn{
  width: 100%;
    border-radius: 5px;
    border: solid 3px #81dacd;
    box-sizing: border-box;
    text-decoration: none;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    padding: 7px;
    height: 40px;
    background-color: #81dacd;
}
.profile_save_btn:hover{
  opacity: 0.5;
}
.profile_save_btn_ds{
  width: 100%;
  border-radius: 5px;
  border: solid 3px #da9c81;
  box-sizing: border-box;
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  padding: 7px;
  height: 40px;
  background-color: #da9c81;
}
.controllBtn {
  width: 50%;
  padding-top: 10px;
}

.controllBtn img{
  width: 50px;
  height: 50px;
    border-radius: 5px;
    text-align: center;
    padding: 7px;
    margin: auto;
    background-color: #ffffff;
 
}

.controllBtn img:hover{
  opacity: 0.5;
  cursor: pointer;
}

.backImg{
  width: 50px;
  padding: 7px;
}
.backImg:hover{
  opacity: 0.5;
  cursor: pointer;
}

.emptyList{
  text-align: center;
  width: 100%;
  height: 100%;
  padding-bottom: 10%;
  background-color: #F8F9FA;
  /* background: url(./img/nodata.png); */
}
.emptyList img{
  padding-top: 20%;
  opacity: 0.3;
}
.emptyList h2{
  opacity: 0.3;
}

.bumpBtn button{
  width: 100%;
  border-radius: 5px;
    text-align: center;
    padding: 7px;
    margin: auto;
    background-color: #ffffff;
}

.bumpBtn button:hover{
  background-color: orange;
}

.inputTextarea{
  resize: vertical;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 10px;
}

.moreBtn{
  width: 100px;
    border-radius: 5px;
    border: solid 1px #ffdcc5;
    box-sizing: border-box;
    text-decoration: none;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    background-color: #ffdcc5;
    color: #666666;
}

.footer{
  background:#22222221;
    padding: 18px 24px;

}

